/*! CSS Used from: https://assets.wanikani.com/assets/default-v2/application-6d912fbb5aa1973185f780283d157c2ccec06ba30da4bb77d83b832a25b1ecc6.css ; media=screen */
@media screen{
    a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
    a:hover,a:active{outline:0;}
    @media print{
    *{text-shadow:none!important;color:#000!important;background:transparent!important;box-shadow:none!important;}
    a,a:visited{text-decoration:underline;}
    a[href]:after{content:" (" attr(href) ")";}
    }
    a{color:#08c;text-decoration:none;}
    a:hover,a:focus{color:#005580;text-decoration:underline;}
    li{line-height:20px;}
    ::selection{background:#000;color:#fff;}
    }
    /*! CSS Used from: https://assets.wanikani.com/assets/application-071eb84d1045613ca4d9dff39e4da923c0596f279325cf9186df39977e18af26.css ; media=screen */
    @media screen{
    .navigation-shortcut{display:block;margin-left:8px;width:calc(50% - 4px);}
    .navigation-shortcut a{align-items:center;background:transparent;border-radius:4px;border:2px solid rgba(0,0,0,0.1);box-sizing:border-box;color:#333;display:flex;flex-direction:row;flex-wrap:nowrap;font-size:0.875rem;justify-content:flex-start;line-height:28px;margin:0;padding:0 14px 0 0;text-decoration:none;text-shadow:0 1px 0 #fff;transition:border-color 0.2s, background 0.2s;}
    .navigation-shortcut a:hover{border-color:rgba(0,0,0,0.2);}
    .navigation-shortcut a:focus{outline:none;border-color:#a0f;}
    .navigation-shortcut a span{background:#a0f;border-radius:4px 0 0 4px;color:#fff;display:block;float:left;font-size:0.75rem;font-weight:bold;line-height:32px;margin:-2px 12px -2px -2px;min-width:16px;padding:0 8px;text-align:center;text-shadow:0 -1px 0 rgba(0,0,0,0.3);vertical-align:middle;}
    @media screen and (min-width: 580px){
    .navigation-shortcut{flex:0 1 auto;width:auto;}
    .navigation-shortcut a span{font-size:0.75rem;}
    }
    }